<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age Validator</title>
</head>
<body>
    <script>
        let age = prompt("Type in your age :")
        const legalAge = 18;

        if(age < legalAge) {
            document.write("Your are under age")
        }
        else if(age == legalAge) {
            document.write("You are barely on the legal age, Welcome!")
        }
        else if(age > legalAge) {
            document.write("Welcome in adult.")
        }
    </script>
    <table>
        <tr>
            <td>
                hello
            </td>
            <td>
                goodbye
            </td>
        </tr>
    </table>
</body>
</html>